<h1>Bookings</h1>

<%= content_tag (:div) do %>
    <% current_user.venues.each do |venue| %>
        <h3><%= link_to venue.name, admin_venue_path(venue) %></h3>
        <% venue.bookings.each do |booking| %>
            <p><%= link_to "#{booking.date.strftime("%-m/%-d/%Y")} - #{booking.name}", edit_admin_booking_path(booking) %></p>
        <% end %>
    <% end %>
<% end %>