<div>

  <% current_user.organizers.each do |organizer| %>

    <h3><%= link_to organizer.name, admin_organizer_path(organizer) %></h3>

    <%= display_address(organizer) %>

    URL: <%= organizer.url %>

  <% end %>

</div>