<h1>Update Organizer</h1>
<br>
<%= render 'organizer' %>
<br>
<%= button_to "Add Point of Contact", add_poc_path, method: 'get', class: 'btn' %>
<br>
<%= button_to "Delete Organizer", admin_organizer_path(@organizer), method: "delete", class: 'btn' %>