<h1>Update Organizer</h1>
<br>
<%= render 'organizer' %>
<%= button_to "Add Point of Contact", add_poc_path, method: 'get' %>
<%= button_to "Delete Organizer", admin_organizer_path(@organizer), method: "delete" %>