<div style = "margin-left: auto;
              margin-right: auto;
              width: 50%;
              border: 2px #0ff solid;
              padding-left: 30px;
              padding-right: 30px;">
<h1 style = "text-align: center;
             border-bottom: 2px #0ff solid;
             padding-bottom: 15px;">Welcome!</h1>
<p style = "text-align: justify;">
    Thank you so much for creating an account on VenueMC! We're looking forward 
    to supporting you in the management of your performance venues. 
    <br><br>Here are few things to know as you get started on VenueMC:
    <ul>
      <li>Your data is yours. We do not sell or disclose your information to ANY third-party.</li>
      <br>
      <li>You decide what to upload and share. All features of VenueMC are at your disposal, 
      and you decide what to utilize in your day-to-day.</li>
      <br>
      <li>You can always access the VMC console <a style = "color: #0ff; text-decoration: none;" href = "https://www.venuemc.com">here</a>. However, 
      not all features are supported on mobile *yet*.</li>
      <br>
      <li>You can reply to this email, or reach out to us at <a style = "color: #0ff; text-decoration: none;" href = "mailto:stagehand@venuemc.com">stagehand@venuemc.com</a> if you 
      have any questions or are experiencing any difficulty with the Venue Management Console.</li>
    </ul>
    Once again, thank you for signing up for VenueMC!
    <p style = "text-align: center;">
    -
    <br>
    the VMC team
    </p>
</p>
</div>