<%= content_tag(:div, class: 'quick-link-bar') do %>
    <h4>Quick Links</h4>
<% end %>

<%= content_tag(:div, class: 'venue-overview') do %>
    <h1>Venues Overview</h1>
<% end %>

<%= content_tag(:div, class: 'feature-bar') do %>
    <h4>Tasks</h4>
    <h4>Next Booking</h4>
    <h4>Last Booking</h4>
<% end %>