<div class = 'col'>

  <h3><%= @employee.start_date.strftime("%-m/%-d/%Y") %></h3>

  <p>Start Date</p>


  <% if @employee.end_date.present? %>

    <h3><%= @employee.end_date.strftime("%-m/%-d/%Y") %></h3>

    <p>End Date</p>

  <% end %>
  

  <h3>$<%= '%.2f' % @employee.rate %></h3>

  <p>Hourly Rate</p>

</div>