<h3>Address</h3>

<%= f.fields_for :address, resource.address do |af| %>

  <!-- ADDRESS LINES 1 & 2 -->
  <%= render partial: 'shared/address_part_1', locals: { af: af } %>

  <!-- ADDRESS CITY, STATE, ZIP -->
  <%= render partial: 'shared/address_part_2', locals: { af: af } %>

<% end %>