<%= f.fields_for :contacts do |c| %>

  <div class = 'form-row'>

    <% via_locals = {
      f:          c,
      attribute:  :via,
      label:      'Contact Method',
      classes:    'form-group col-lg-3',
      options:    %w(Email Phone)
    } %>

    <%= render partial: 'shared/forms/option_select', locals: via_locals %>

    <% value_locals = {
      f:          c,
      attribute:  :value,
      label:      'Address/Phone',
      classes:    'form-group col-lg-3',
      required:   true
    } %>

    <%= render partial: 'shared/forms/text', locals: value_locals %>

  </div>

<% end %>