<% if resource.errors.full_messages.any? %>
    <div class="alert alert-danger" role="alert">
        <ul>
        <% resource.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>