<% if flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <% if flash[:error].is_a? String %>
      <%= flash[:error] %>
    <% else %>
      <% flash[:error].each do |error| %>
        <%= error %><br>
      <% end %>
    <% end %>
  </div>
<% end %>