<h3>Inventories</h3>

<% if @venue.inventories.any? %>

  <% @venue.inventories.each do |inventory| %>

    <%= link_to inventory.name, admin_venue_inventory_path(@venue, inventory) %><br>

  <% end %>

<% end %>

<br>

<%= button_to "Create Inventory", new_admin_venue_inventory_path(@venue), method: 'get', class: 'btn' %>