<div id="accordion">

  <%= render 'login_form' %>

  <%= render 'signup_form' %>

  <h5 class="mt-2">
    <a href = <%= venues_path %>><button class="btn btn-link">SEARCH VENUES</button></a>
  </h5>

</div>
