body {
    background-color: #2D2D2D;
    color: #c4c4c4;
}

nav {

    border-bottom: 2px solid #000;

    a {
        color: #0ff;
    }
    a:hover {
        color: #c4c4c4;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }

}
