// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    overflow: hidden;
    background: url(landing.png) no-repeat center center fixed;
    background-size: cover;
}

.banner {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 300px;
    position: absolute;
    margin-left: 70%;
    justify-content: center;
    
}