<h1>Venues Overview</h1>
<br>

<% current_user.venues.each do |venue| %>

  <div class = 'row'>

    <!-- VENUE NAME & ADDRESS -->
    <%= render partial: 'venue_overview_block_1', locals: { venue: venue } %>

    <!-- VENUE CONFIGURATION -->
    <%= render partial: 'venue_overview_block_2', locals: { venue: venue } %>

    <!-- VENUE NEXT & LAST BOOKING -->
    <%= render partial: 'venue_overview_block_3', locals: { venue: venue } %>

  </div>

<% end %>