<% content_for :stylesheet do %>

  <%= stylesheet_link_tag 'venues', media: 'all', 'data-turbolinks-track': 'reload' %>

<% end %>

<% content_for :framing do %>

  <div class = 'container'>

    <%= yield %>

  </div>

<% end %>

<%= render template: 'layouts/application' %>